<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Recipe</h1>

    <form action="/foods/<%=index%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" /><br/>
        Serving Size: <input type="text" name="servingSize" /><br/>
        Ingredient: <input type="text" name="ingredient" /><br/>
        Cook Time: <input type="text" name="cookTime" /><br/>
        Preparation: <input type="text" name="preparation" /><br/>
        Img: <input type="text" name="img"/><br/>
        <input type="submit" name="" value="Submit Changes" />
    </form>

</body>
</html>