<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=New, initial-scale=1.0">
    <title>DNewFood Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
    <body>
        <h1 class= "new-page-name"> Create a New Food Recipe</h1>
        <div class="new-page-container">   
            <form class= "new-input-value" action="/foods" method="POST">
                User Id: <input class="new-input-value1" type="text" name="userId" />
                <br/><br/>
                Name: <input class="new-input-value1" type="text" name="name" />
                <br/><br/>
                Serving Size: <input class="new-input-value1" type="text" name="servingSize" />
                <br/><br/>
                Ingredient: <input class="new-input-value1" type="text" name="ingredient" />
                <br/><br/>
                Cook Time: <input class="new-input-value1" type="text" name="cookTime" />
                <br/><br/>
                Preparation: <input class="new-input-value1" type="text" name="preparation" />
                <br/><br/>
                Img: <input class="new-input-value1" type="text" name="img"/>
                <br/><br/><br /> <br />
                <input type="submit" name="" value="SUBMIT" />
                <br/><br/>
            </form>
        </div>
        <a class="a-new-page" href="/foods/">Return to All Recipes</a>
        <footer class="footer3">Created by Elham G. Azizi</footer>
    </body>
</html>