<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=New, initial-scale=1.0">
    <title>DNewFood Page</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
    <body>
        <h1> New Food Recipe Page</h1>
            <form action="/foods" method="POST">
                Name: <input type="text" name="name" /><br/>
                Serving Size: <input type="text" name="servingSize" /><br/>
                Ingredient: <input type="text" name="ingredient" /><br/>
                Cook Time: <input type="text" name="cookTime" /><br/>
                Preparation: <input type="text" name="preparation" /><br/>
                Img: <input type="text" name="img"/><br/>
                <input type="submit" name="" value="SUBMIT" />

            </form>
    </body>
</html>