<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<h1 class="main-block" style="text-align: center">Welcome to Foods Recipe App</h1>
<img class= "main-block-image" src="https://pbs.twimg.com/media/EWNlGMfWsAAOwzW.jpg" alt="persian dishes">
<h2><p class="main-block1">
    <br/>
    <a class="users-main-page" style= "text-align: center" href="/users/signup">Sign Up</a>
    <a class="users-main-page" style= "text-align: center" href="/users/login">Log In</a><br />
    <a class="users-main-page1" style= "text-align: center" href="/foods/">View All Food Recipes</a></p>
</h2>

<footer class="footer3">Created by Elham G. Azizi</footer>
</body>