<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<h1 class="main-block" style="text-align: center">Welcome to Foods Recipe App</h1>
<h2><p class="main-block1">
    <a class="main-page" style= "text-align: center" href="/users/signup">Sign Up</a><br /><br />
    <a class="main-page" style= "text-align: center" href="/users/login">Log In</a></p>
</h2>

</body>