<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create an account</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <div class="profile-background">
    <h1 class="users-signup-page" style="text-align: center">Create an Account</h1>
    <h2 class="signup-page">
    <form class="signup-page1" action="/users" method="POST">
      Name: <input type="text" name="name" /><br /><br />
      Username: <input type="text" name="username" /> <br /><br />
      Password: <input type="text" name="password" /><br /> <br />
      <input type="submit" name="" value="SignUp" />
    </form>
  </h2>
</div>
<footer class="footer1">Created by Elham G. Azizi</footer>
  </body>
</html>